[Desktop Entry]
 Version=1.0
 Name=franz
 Exec=/opt/franz/Franz
 Icon=/opt/franz/resources/app.asar.unpacked/assets/franz.png
 Type=Application
 Categories=Application
